@model passionProjectApplication.Models.CocktailDto

@{
    ViewBag.Title = "DeleteConfirm";
   
}
<style>
    .main {
        margin-top: 3rem;
        border: 1px solid black;
        padding: 1rem;
        text-align: center;
        border-radius: 8px;
        background: black;
        color: white;
    }

    .heading {
        background: black;
        color: white;
    }

    .button {
        background: antiquewhite;
        padding: 10px;
        border: 1px solid black;
        border-radius: 4px;
        color:black;
    }

    .name {
        color: navajowhite;
    }
</style>

<div class="main">

    <h2>Are you sure you want to delete @Model.CocktailName?</h2>
    <div style="display:flex; justify-content:space-around">
    <a href="/Cocktail/List" class="button">Cancel</a>
    <form action="/Cocktail/Delete/@Model.CocktailId" method="post">
        <input type="submit" value="Confirm delete" class="button"/>
    </form>
        </div>
</div>
