@model IEnumerable<passionProjectApplication.Models.CocktailDto>
@{
    ViewBag.Title = "List";
}
<style>
    .main{
        margin-top: 3rem;
        border:1px solid black;
        padding:1rem;
        text-align:center;
        border-radius: 8px;
        background:black;
        color: white;

    }
    .heading{
        background: black;
        color:white;
    }
    .button {
        background:antiquewhite ;
        padding: 10px;
        border: 1px solid black;
        border-radius: 4px
    }

    .name{
        color:navajowhite;
    }
</style>
<div class="main">
    <h2 class="heading">List Of All Cocktails</h2>
    @foreach (var cocktail in Model)
    {
        if (cocktail != null)
        {
            <a href="/cocktail/details/@cocktail.CocktailId" class="name">
                <p>@cocktail.CocktailName</p>
            </a>
        }

    }

    <a href="/cocktail/new" class="button">Create a cocktail</a>
</div>