@model IEnumerable<passionProjectApplication.Models.CocktailDto>
@{
    ViewBag.Title = "List";
}

<h2>List Of All Cocktails</h2>
@foreach (var cocktail in Model)
{
    if (cocktail!=null)
    {
<a href="/cocktail/details/@cocktail.CocktailId">
    <p>@cocktail.CocktailName</p>
</a>
    }

}
